<div class="navbar">
    <div class="navbar__menu">
        <div class="menu-item">
            <a class="menu-item__link--logo" href="/">
                <img class="menu-item__link--logo" src="{{__dirname}}/assets/images/logo-black.png">
            </a>
        </div>
        <div class="menu-item">
            <a class="menu-item__link" href="/ideas">Ideas</a>
        </div>
        <div class="menu-item">
            <a class="menu-item__link menu-item__link--edit " href="/ideas/add" title="Add Idea">+</a>
        </div>
    </div>
</div>